.centralizado {
    text-align: center;
}

.caixa-equipe {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 1px 1px 5px #cdcdcd;
    height: 360px;
    width: 300px;
    border-radius: 20px;
    border: 30px;
    margin-left: auto;
    margin-right: auto;
}

.icone{
    padding: 3px;
    transition: 0.17s ease-in-out;
}

.nomes {
    font-weight: bold;
    margin-bottom: 7px;
    transition: 0.17s ease-in-out;
}

main {
    margin-top: 70px;
}

.azulotter {
    color: #003988;
}

.linhapreta {
    margin-bottom: 60px;
    margin-top: 30px;
}

.main {
    margin-bottom: 60px;
}

.descricao {
    display: flex;
}

.imagemicone {
    transition: 0.17s ease-in-out;
}

.imagemicone:hover {
    position: relative;
    transform: scale(1.06);
    z-index: auto;
}

@media all and (max-width: 700px) {
    .textos {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width: 1100px) {
    .col-3 {
        margin-left: auto;
        margin-right: auto;
    }
    
    .alinhar-left {
        margin-left: 18%;
    }

    .alinhar-right {
        margin-right: 18%;
    }
}

@media all and (min-width: 1300px) {
    .alinhar-left {
        margin-left: 21%;
    }

    .alinhar-right {
        margin-right: 21%;
    }
}

.margemrow {
    margin-top: 60px;
}

.bp-margem {
    margin-top: 40px;
}

@media (max-width: 695px) {
    .margemrow {
        margin-top: 0px;
    }
    .bp-margem {
        margin-bottom: 30px;
    }
}

@media (min-wdith: 696px) {

}

header {
    position: fixed;
    z-index: 1;
}